%div{:"ng-controller" => "Sessions"}
  %form{ :"ng-submit" => "signIn()",
         :role => "form",
         :name => 'form',
         :novalidate => true }

    .form-group{ :"ng-class" => "{ 'has-error': form.email.$touched && form.email.$invalid }" }
      %label{ :for => "email" } Email
      %input#email.form-control{ :name => "email",
                                 :"ng-model" => "data.email",
                                 :type => "email",
                                 :required => true }
      -# .help-block{ :"ng-messages" => "form.email.$error", :"ng-if" => "form.email.$touched" }
      -#   %div{ :"ng-message" => "required" }  This field is required
      -#   %div{ :"ng-message" => "email" } Your email address is invalid

    -# .form-group{ :"ng-class" => "{ 'has-error': form.password.$touched && form.password.$invalid }" }
    -#   %label{ :for => "password" } Password
    -#   %input#password.form-control{ :name => "password",
    -#                                 :"ng-model" => "loginForm.password",
    -#                                 :type => "password",
    -#                                 :required => true,
    -#                                 :"ng-minlength" => 4,
    -#                                 :"ng-maxlength" => 16 }
    -#   .help-block{ :"ng-messages" => "form.password.$error", :"ng-if" => "form.password.$touched" }
    -#     %div{ :"ng-message" => "required" }  This field is required
    -#     %div{ :"ng-message" => "minlength" }
    -#       ="Password must be over #{4} characters"
    -#     %div{ :"ng-message" => "maxlength" }
    -#       ="Password must not exceed #{16} characters"
    .form-group
      %button.btn.btn-primary.btn-lg{ :type => "submit", :"ng-disabled" => "form.$invalid" } Log in
