%nav.navbar.navbar-inverse.navbar-fixed-top
  .col-md-8.col-md-offset-2
    #navbar
      .navbar-header
        %a{  :"ng-href" => "/", class: 'navbar-brand' }
          JWT auth
      #navbar
        %ul.nav.navbar-nav.pull-right{ :"ng-controller" => "Auth" }
          %li.dropdown{ :"ng-show" => "user.signedIn" }
            %a.dropdown-toggle{ :"data-toggle" => "dropdown", id: "dropdown-menu", :"ng-href" => '#' }
              {{user.email}}
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li
                %a{ :"ng-href" => '/user'}
                  My account
              %li
                %a{ :"ng-href" => '#', :"ng-click" => 'logout()', id: 'sign-out' }
                  Sign out

          %li{ :"ng-show" => "!user.signedIn" }
            %a{ :"ng-href" => "/login" }
              Log In
          %li{ :"ng-show" => "!user.signedIn" }
            %a{ :"ng-href" => "/register" }
              Sign Up
